<footer>
    <a href="https://www.linkedin.com/in/avaneesh-koona/"><i class="fa fa-linkedin socio-icon" aria-hidden="true"></i></a>
    <a href="mailto: kavaneesh19@gmail.com"><i class="fa fa-envelope socio-icon" aria-hidden="true"></i></a>
<p>by Avaneesh Koona</p>
</footer>

</div>
</body>
</html>