<%-include("partials/header")%>
    <h1 class="heading">WANNA SORT??</h1>
    <form class="mainForm" action="/" method="post">
        <button id="btn" type="submit">click Me</button>
    </form>  
<%-include("partials/footer")%>