<%-include("partials/header")%>
<h1 class="heading">WANNA SORT??</h1>
    <div id="mergePlate">
            <button id="btn" onclick="run()">click Me</button>
    </div>
<%-include("sort_script")%>   
<%-include("partials/footer")%>