<%-include("partials/header")%>
    <div class="content">
        <h2>WHAT DO YOU WANNA VISUAILIZE</h2>
        <div id="algorithmTypes">
            <a class="btn btn-outline-dark btn-lg algorithType" href="/search">SEARCHING</a>
            <a class="btn btn-outline-dark btn-lg algorithType" href="/sort">SORTING</a>
        </div>
    </div>
    <script>
                document.onreadystatechange = function() { 
            if (document.readyState !== "complete") { 
                document.querySelector( 
                  "body").style.visibility = "hidden"; 
                document.querySelector( 
                  "#loaders").style.visibility = "visible"; 
            } else { 
                document.querySelector( 
                  "#loaders").style.display = "none"; 
                document.querySelector( 
                  "body").style.visibility = "visible"; 
            } 
        };
    </script>
<%-include("partials/footer")%>