<%-include("partials/header")%>
    <div class="content">
        <h2>WHAT DO YOU WANNA VISUAILIZE</h2>
        <div id="algorithmTypes">
            <a class="btn btn-outline-dark btn-lg algorithType" href="/search">SEARCHING</a>
            <a class="btn btn-outline-dark btn-lg algorithType" href="/sort">SORTING</a>
        </div>
    </div>
<%-include("partials/footer")%>