<%-include("partials/header")%>
    <h1 class="heading">VISUAL TREAT</h1>
    <div id="algorithmTypes">
        <a class="algorithmType" href="/search"><button class="Button">Search</button></a>
        <a class="algorithmType" href="/sort"><button class="Button">Sort</button></a>
    </div>
<%-include("partials/footer")%>