<%-include("partials/header")%>
<div class="main">
    <h1 class="heading">VISUAL TREAT</h1>
</div>
    <div id="algorithmTypes">
        <h2>WHAT DO YOU WANNA VISUAILIZE</h2>
        <a class="algorithmType" href="/search"><button class="Button">SEARCHING</button></a>
        <a class="algorithmType" href="/sort"><button class="Button">SORTING</button></a>
    </div>
<%-include("partials/footer")%>