<%-include("partials/header")%>
    
    <div class="main">
      
    <div class="subDiv window1">
        <div id="arrayWindow"></div>    
    </div> 

    <div class="subDiv window2">
    <label for="searchTypes" style="font-weight: bold;">Search Algorithm</label>
        <div class="inputs btn-group btn-group-toggle" data-toggle="buttons">
            <label for="linearSearch" class="btn btn-outline-dark">
                <input type="radio" name="searchType" value="linearSearch" id="linearSearch" >Linear
            </label>
            <label for="binarySearch" class="btn btn-outline-dark">
                <input type="radio" name="searchType" value="binarySearch" id="binarySearch">Binary
            </label>
        </div>
    
        <div class="inputs key input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Key</span>
            </div>
            <input type="text" class="form-control" id="key" placeholder="key to search [1,50]">
        </div>

        <div class="inputs">
            <button class="triggerBtn btn btn-outline-dark" id="generateArray" onclick="generateArray()">Reset Array</button> 
            <button class="triggerBtn btn btn-dark" id="startBtn" onclick="search()">Search</button>
        </div>

        <div class="inputs form-group">
            <label for="speed">speed</label>
            <input type="range" class="form-control-range" id="speed" name="speed" min="17" max="350">
        </div>   
        
    </div>

    </div>
    <%-include("script/algoScript")%>     
<%-include("partials/footer")%>