<%-include("partials/header")%>
<div class="main">
    <h3 id="homeLink"><a href="/">VISUAL TREAT</a></h3>
    <h1 class="heading">GO FOR IT!!</h1>
</div>
<div id="algoTypes">
    <div class="algoType">
        <input type="radio" name="sortType" value="bubbleSort">
        <label for="bubbleSort">Bubble Sort</label>
    </div>
    <div class="algoType">
        <input type="radio" name="sortType" value="insertionSort">
        <label for="insertionSort">Insertion sort</label>
    </div>
    <div class="algoType">
        <input type="radio" name="sortType" value="selectionSort">
        <label for="selectionSort">Selection sort</label>
    </div>
    <div class="algoType">
        <input type="radio" id="mergeSort" name="sortType" value="mergeSort">
        <label for="mergeSort">Merge sort(Recursive)</label>
    </div>
</div>
<div id="container">
    <div id="arrayWindow"></div> 
</div>   
    <div id="btnWindow">
        <button class="Button" id="generateArray" onclick="generateArray()">Generate New Array</button> 
        <button class="Button" id="startBtn" onclick="sort(0,39)">SORT</button>
        <div>
            <div>speed</div>
            <input type="range" id="speed" name="speed" min="17" max="350">
        </div> 
    </div> 

    <%-include("script/algoScript")%>     
<%-include("partials/footer")%>