/* 
  *************************************************
  CODE BY : AVANEESH KOONA
  GIHUB   : https://github.com/avaneeshKoona
  E-MAIL  : kavaneesh19@gmail.com
************************************************* */


/* common css for home, searching and sorting pages*/

html{
    font-family: sans-serif;
}

body{
    margin: 0;
    height: 100vh;
}

.home{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


header{
    width: 100%;
    padding:2%;
    background-color: rgba(0, 0, 0, 0.267);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.048);
}



header h1{
    font-size: 1.5rem;
    margin: 0;
}

.homeLink{
    color: black;
}

.homeLink:active{
    text-decoration: none;
}

.homeLink:hover{
    text-decoration: none;
    color: white;
}


#loaders{ 
    border: 12px solid #f3f3f3; 
    border-radius: 50%; 
    border-top: 12px solid #444444; 
    width: 70px; 
    height: 70px; 
    animation: spin 1s linear infinite; 
} 
  
@keyframes spin { 
    100% { 
        transform: rotate(360deg); 
    } 
} 
  
.centers{ 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: auto; 
} 

footer{
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.267);
    color: rgba(0, 0, 0, 0.432);
}

.socio-icon {
    margin: 10px 10px;
    color:rgba(0, 0, 0, 0.432);
  }

.socio-icon:hover{
    color:black;
  }





/* HOME PAGE */

.content{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.algorithType{
    margin:0.3rem;
}



/* SEARCHING AND SORTING PAGES */

.main{
    display: flex;
    align-items: center;
}

.subDiv{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: 2%;
}


.window1{
    width: 65%;
}

#arrayWindow{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.ele{
    width: 3%;
    margin:0.1rem;
    background-color:rgba(247, 231, 7, 0.651);
    text-align: center;
    font-size: 0.85rem;
    font-weight: bold;
}


.window2{
    width:25%;
}

.inputs{
    margin:2% 0;
}

.key{
    width:90%;
}

#speed{
    width:50%;
}

.triggerBtn{
    margin:0.2rem 0.2rem 0.2rem 0;
}



/* media queries */

  @media(max-width:1024px){

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .subDiv{
    display:flex;
    justify-content: center;
    margin: 2%;
}

.window1{
    width: 90%;
}

.ele{
    margin:0.1rem;
    background-color:rgba(247, 231, 7, 0.651);
    text-align: center;
    font-size: 0.2rem;
}

.window2{
    width:90%;

}

.inputs{
    margin: 2% 0;
}

}
