body{   
    background-color: #FFF;
    font-family: cursive;
    display: grid;
}

.heading{
    color: rgb(0, 0, 0);
    text-align: center ;
    font-size: 3rem;
    margin-top: 10px;
}


.mainForm{
    display: grid;
}

#btn{
    margin: auto;
    padding:10px 15px;
    border-radius: 5px;
    border: none;
    background-color:red;
    color: white;
}


#btn:hover{
    background-color:black;
    color: white;
}



#sortTypes{
    display: flex;
    justify-content: center;
    margin-bottom: 15px 0;
}

.sortType{

    margin: 0px 20px;

}

#arrayWindow{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}


.ele{
    display:flex;
    align-items: flex-end;
    justify-content: center;
    width: 20px;
    background-color: rgba(247, 231, 7, 0.651);
    margin: 2px;
    font-size: x-small;
}

#sortBtn{
    margin:auto;
    padding:10px 15px;
    border-radius: 5px;
    border: none;
    background-color: red;
    color: white;
}

#sortBtn:hover{
    background-color:black;
    color: white;
}

#sortBtn:disabled{
    background-color: rgba(0, 0, 0, 0.466);
}

